{% extends 'base.html' %} {% block content %}

<h1>{{ exercise.name }}</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p>Muscle Group: {{ exercise.musclegroups }}</p>
        <p>Intensity: {{ exercise.intensity }}</p>
        <p>Directions: {{ exercise.directions }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'exercise_update' exercise.id %}">Edit</a>
        <a href="{% url 'exercise_delete' exercise.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action= "{% url 'add_completion' exercise.id %}" method="POST">
      {% csrf_token %}
      {{completion_form.as_p}}
      <input type="submit" class="btn" value="Add Record" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Reps</th>
          <th>Sets</th>
        </tr>
      </thead>
      <tbody>
        {% for completion in exercise.completion_set.all %}
        <tr>
          <td>{{completion.date}}</td>
          <td>{{completion.reps}}</td>
          <td>{{completion.sets}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date')
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}
