{% extends 'base.html' %} {% block content %}

<h1>Exercise Tracker</h1>
<hr />
<p>
  We're here to help you achieve your fitness goals and live a healthier
  lifestyle. Our platform offers a range of tools and features to track your
  exercises, set goals, and monitor your progress. With our exercise logging
  feature, you can easily record your workouts, including exercise type,
  duration, intensity, and calories burned. This helps you maintain a detailed
  record and make informed decisions for your training. Setting goals is crucial
  for success. Our platform allows you to personalize your goals, whether it's
  weight loss, muscle gain, or running a marathon. We'll keep you on track by
  monitoring your progress and providing insights to keep you motivated.
</p>

{% endblock %}
