{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exercise Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Exercise Collector</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'exercises_index' %}">View All Exercises</a></li>
          <li><a href="{% url 'exercise_create' %}">Add An Exercise</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
{% block content %}
{% endblock %}
</main>
<footer class="page-footer">
  <div class="right">All Rights Reserved, &copy; 2021 Exercise Collector &nbsp;</div>
</footer>
</body>
</html>